// Colors

// Primary

$clr-primary-purple: hsl(259, 100%, 65%);
$clr-primary-light-red: hsl(0, 100%, 67%);

// Neutral

$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-off-white: hsl(0, 0%, 94%);
$clr-neutral-light-grey: hsl(0, 0%, 86%);
$clr-neutral-smokey-grey: hsl(0, 1%, 44%);
$clr-neutral-off-black: hsl(0, 0%, 8%);

// Fonts

// Font Sizes

$ff-poppins: 'Poppins', sans-serif;

// Font Sizes

$fs-root: 1rem;
$fs-label: clamp(0.5rem, 0.6rem + 0.5vw, 1rem);
$fs-input: clamp(1rem, 0.6rem + 2vw, 2rem);
$fs-placeholder: clamp(1rem, 0.6rem + 2vw, 2rem);
$fs-error: clamp(0.5rem, 0.6rem + 0.3vw, 0.9rem);
$fs-results-item: clamp(1rem, 1.6rem + 4.5vw, 6.5rem);

// Font Weights

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;

// Line Heights

$lh-label: 1;
$lh-input: 1;
$lh-placeholder: 1;
$lh-results-item: 1;

// Letter Spacing

$ls-label: 0.2rem;
$ls-input: 0.1rem;
$ls-placeholder: 0.05rem;
$ls-results-item: 0.05rem;

// Widths

$max-width-root: 1440px;
$min-width-root: 375px;

// Heights

$min-height-root: 100dvh;
