// Colors

// Primary

$clr-primary-purple: hsl(259, 100%, 65%);
$clr-primary-light-red: hsl(0, 100%, 67%);

// Neutral

$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-off-white: hsl(0, 0%, 94%);
$clr-neutral-light-grey: hsl(0, 0%, 86%);
$clr-neutral-smokey-grey: hsl(0, 1%, 44%);
$clr-neutral-off-black: hsl(0, 0%, 8%);

// Fonts

// Font Sizes

$ff-poppins: 2rem;

// Font Sizes

$fs-input: 2rem;

// Font Weights

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;

// Widths

$max-width-root: 1440px;
$min-width-root: 375px;

// Heights

$min-height-root: 375px;
