@use '../abstracts/variables' as *;

@mixin button(
  $bg-color: $clr-primary-purple,
  $bg-color-focus: $clr-neutral-off-black
) {
  position: absolute;
  right: 0;
  bottom: -95px;

  border-radius: 50%;
  border: none;

  padding: 1.5rem;

  background-color: $bg-color;

  outline: transparent;

  cursor: pointer;

  transition: scale 0.5s ease-in-out, background-color 0.5s ease-in-out;

  &:focus,
  &:hover {
    scale: 1.1;
    background-color: $bg-color-focus;
  }
}
