@use '../abstracts/variables' as *;
@use '../core/topography' as *;

@mixin form-item() {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  .item__label {
    @include font-label-bold;
  }

  /* Hide the number input arrows */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    /* Firefox */
    appearance: textfield;
    -moz-appearance: textfield;
  }

  .item__input {
    width: 100%;

    border-radius: 0.5rem;
    border: 1px solid $clr-neutral-light-grey;
    outline: transparent;

    padding: 0.5rem 0.8rem;

    @include font-input-bold;

    transition: scale 0.3s ease-in-out, border 0.3s ease-in-out,
      caret-color 0.3s ease-in-out;

    &:focus,
    &:hover,
    &:active {
      outline: none;
      scale: 1.1;
      border: 1px solid $clr-primary-purple;
      caret-color: $clr-primary-purple;
    }

    &::placeholder {
      @include font-placeholder-bold;

      padding-left: 0;
    }
  }

  // Error States

  .input-error {
    border: 1px solid $clr-primary-light-red;
  }

  .label-error {
    color: $clr-primary-light-red;
  }

  .error-message {
    @include font-error-message-bold;
  }
}
