@use '../abstracts/variables' as *;
@use '../core/topography' as *;

@mixin results-item() {
  @include font-results-item-bold;

  margin-top: 0.5rem;

  span {
    margin-right: 0.3rem;

    @include font-results-answer-bold;

    transition: font-size 0.3s ease-in-out;

    &:hover {
      font-size: 13vw;
    }
  }
}
